Repository hauer-io/dojo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build maven, build gradle

.gitlab-ci.yml:

build maven:
  before_script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
    - docker build -t $TAG -f images/maven.Dockerfile .
    - docker push $TAG
  variables:
    IMAGE_NAME: maven
    TAG: $CI_REGISTRY/$CI_PROJECT_PATH/$IMAGE_NAME:latest
  rules:
    - changes:
        - images/maven.Dockerfile

build gradle:
  before_script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
    - docker build -t $TAG -f images/gradle.Dockerfile .
    - docker push $TAG
  variables:
    IMAGE_NAME: gradle
    TAG: $CI_REGISTRY/$CI_PROJECT_PATH/$IMAGE_NAME:latest
  rules:
    - changes:
        - images/gradle.Dockerfile

Gitlab-CI Test
  .gitlab-ci.yml
Due: none

Gitlab-CI Test
  images/gradle.Dockerfile
  images/maven.Dockerfile
Due: build maven, build gradle

Extends Gitignore
  .gitignore
Due: none

Adds gradle example
  samples/gradle/Dojofile
  samples/gradle/build.gradle.kts
  samples/gradle/settings.gradle.kts
  samples/gradle/src/main/kotlin/io/hauer/demo/simple/SimpleApplication.kt
  samples/gradle/src/test/kotlin/io/hauer/demo/simple/SimpleApplicationTests.kt
Due: none

Uses bash as default
  images/gradle.Dockerfile
  images/maven.Dockerfile
Due: build maven, build gradle

Adds port forward to the example
  samples/gradle/Dojofile
  samples/gradle/build.gradle.kts
  samples/gradle/src/main/kotlin/io/hauer/demo/simple/SimpleApplication.kt
Due: none

test gradle build
  .gitlab-ci.yml
Due: none

test gradle build 2
  .gitlab-ci.yml
Due: none

test 2
  .gitlab-ci.yml
Due: none

And again
  .gitlab-ci.yml
Due: none

change dojo
  images/gradle.Dockerfile
Due: build gradle

change dojo
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none
